<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header-css :: header-css(title='Home Page')"></head>

<body>
<div th:replace="fragments/carousel::carousel"></div>
<div th:replace="fragments/nav-bar :: nav-bar"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="${message}"></h1>
							
				<h2><a th:href="@{/register}">Sign Up</a></h2>
			</div>
		</div>
	</div>
<div th:replace="fragments/footer-js"></div>

</body>

</html>